// WordPress Colors (Proposal)
// https://codepen.io/drw158/pen/oNNarbq
$blue30: #4f94d4;

.sftk_mmbrs_loading_back_and_forth {
  background-color: darken(white, 10);
  width: 300px;
  position: relative;
  overflow: hidden;
  height: 5px;

  & > div {
    animation-fill-mode: both;

    position: absolute;
    height: 4px;
    background-color: $blue30;

    animation-duration: 700ms;
    animation-name: sftk_mmbrs_loading_back_and_forth;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
  }
}

@keyframes sftk_mmbrs_loading_back_and_forth {
  from {
    left: -30%;
    width: 50%;
  }

  to {
    left: 80%;
    width: 50%;
  }
}
